.seats-container{
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  padding: 2em 1em 0em;
  .seats-container-inner{
    max-width: 80%;
    margin: 0 auto;
    .seat-row{
      position: relative;
      .row-no{
        position: absolute;
        left: 1em;
        top: 1em;
      }
    }
  }
  .screen{
    width: 80%;
    background: #009688;
    padding: 0.5em;
    font-size: 1em;
    margin: 1em auto;
    text-transform: uppercase;
    color: #fff;
  }
  .main-col{
    display: inline-block;
  }
  .seat-col{
    border: 1px solid #999;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    color: #666;
    display: inline-block;
    margin: 1em;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    &:hover{
      background: #f1f1f1;
    }
    &.selected{
      background: green;
      color: #fff;
      border: 1px solid green;
    }
    &.reserved{
      background: red;
      color: #fff;
      border: 1px solid red;
      cursor: not-allowed;
    }
  }
  .seats-action{
    margin: 1em 0;
    text-align: center;
    button{
      width: 30%;
      text-transform: uppercase;
      font-size: 1em;
      padding: 0.5em 1em;
      border: 1px solid red;
      font-weight: bold;
      color: #fff;
      outline: none;
      border-radius: 4px;
      background: red;
    }
  }
}